<!doctype html>
<head>
<!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template Molurus Tech Multi-Purpose themeforest">
    <meta name="description" content="Molurus Tech - Multi-Purpose HTML5 Template">
    <meta name="author" content="">
    
    <!-- Title -->
    <title>Attack on Titan</title>
    <link rel="icon" type="image/x-icon" href="https://live.staticflickr.com/7410/12272594713_fb1db15882_z.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<!-- Body -->
    <body>
        <div class="container">
        <div class="p-3 mb-2 .bg-light text-secondary-emphasis">
        <h1 style="font-size: 50px; text-align: center; padding: 20px;"><b><b>Welcome To My Project</b><b></h1>
        </div>
            {% load static %}
            <img src="{% static 'aotbanner.jpg' %}" style="display: block; margin: 0 auto; border-radius: 11%; width: 1000px; " alt="attack on Titan">
            <br>
            </div>
            <!-- Bootstrap -->
        <a href="home">Go To Homepage</a>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>
</html>