<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attack on Titan About</title>
    <link rel="icon" type="image/x-icon" href="https://live.staticflickr.com/7410/12272594713_fb1db15882_z.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <div class="p-0.9 mb-2 .bg-white text-secondary-emphasis">
    <h1 style="font-size: 50px;text-align: center; padding: 10px;"><b><b>AOT About</b></b></h1>
    {% load static %}
    <img src="{% static 'emaot.jpg' %}" style="display: block; margin: 0 auto; width: 900px; height: auto; " alt="attack on Titan">
    <br>
    <pre style="width: 80%; display: block; margin: 0 auto; font-size: large;"><b>Attack on Titan (進撃の巨人 / Shingeki no Kyojin) is a Japanese manga and anime 
series created by "Hajime Isayama". It is one of the most popular and influential anime
of all time, known for its dark themes, intense action, and deep story.

Story Summary:
    In a world where **giant humanoid creatures called Titans** roam the earth and devour 
    humans, the remnants of humanity live behind enormous concentric walls for
    protection. The story follows "Eren Yeager", a boy who vows to destroy all Titans 
    after they destroy his hometown and kill his mother.


Main Themes:
    Freedom vs. oppression
    Humanity's survival
    War and its consequences
    Mystery and betrayal
    Political corruption

Main Characters:
    "Eren Yeager" – The protagonist, determined to wipe out the Titans.
    "Mikasa Ackerman" – Eren’s adoptive sister and elite fighter.
    "Armin Arlert" – Eren’s best friend, intelligent and strategic.
    "Levi Ackerman" – Humanity’s strongest soldier.
    "Erwin Smith" – Commander of the Scout Regiment.
    "Zeke Yeager" – A mysterious Titan shifter tied to Eren’s past.
    "Reiner Braun", "Annie Leonhart", and others with hidden identities.

Setting:
   The world is divided into zones protected by three walls: "Wall Maria", 
  "Wall Rose", and "Wall Sheena". Outside the walls lie the Titans and 
   the hidden truths about the world.

Manga & Anime Info:
  Manga:   Ran from 2009 to 2021 (34 volumes)
  Anime:   Aired from 2013 to 2023

   Studios: "Wit Studio" (Seasons 1–3), "MAPPA" (Final Season)
   Final Season split into multiple parts due to the story’s complexity

Notable Elements:
   Titan Shifters": Humans who can transform into powerful Titans.
   The Founding Titan": Holds the key to the origins and control of all Titans.
   Marley & Eldia": Two warring nations that reveal the broader political and racial 
   conflict beyond the walls.

Why It's Loved:
   Deep and evolving plot
   Unpredictable twists
   Incredible animation and sound design
   Strong character development
   Philosophical and moral dilemmas

Themes of the Ending:
Freedom vs Morality: Eren chose freedom at the cost of morality. Was he right or wrong?

Cycle of Hatred: Even with Titans gone, hatred between people might still return.

Tragic Hero: Eren becomes what he hated, but he believes it was the only way.
</b>
</pre>
</div>
</div>
<a href="http://127.0.0.1:8000/contact"><b><b>Contact</b></b></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>